<div class="modal fade help-modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Keyboard Shortcuts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Help</strong></span><span class="float-right"><kbd>/</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Close Help</strong></span><span
              class="float-right"><kbd>ESC</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Settings &gt; General Settings</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>A</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Settings &gt; Company Settings</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>B</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Settings &gt; Communication Settings</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>C</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Vehicles &gt; Owner &gt; Create</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>D</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Vehicles &gt; Owner &gt; Read</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>E</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Vehicles &gt; Type &gt; Create</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>F</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Vehicles &gt; Type &gt; Read</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>G</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Vehicles &gt; Vehicle &gt; Create</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>H</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Vehicles &gt; Vehicle &gt; Read</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>I</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Drivers &gt; Driver &gt; Create</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>J</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Drivers &gt; Driver &gt; Read</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>K</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Drivers &gt; Driver &gt; Drivers Session
                List</strong></span><span class="float-right"><kbd>ALT</kbd> + <kbd>L</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Employees &gt; Shift &gt; Create</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>M</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Employees &gt; Shift &gt; Read</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>N</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Customers &gt; Customer &gt; Create</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>O</kbd></span></p>
        </div>
        <hr />
        <div class="clearfix">
          <p class="m-0"><span class="float-left"><strong>Customers &gt; Customer &gt; Read</strong></span><span
              class="float-right"><kbd>ALT</kbd> + <kbd>P</kbd></span></p>
        </div>
      </div>
    </div>
  </div>
</div>