<nav class="navbar navbar-expand-md navbar-dark shadow">
  <div class="container">
    <a class="navbar-brand" href="/">Saxons</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Vehicle</a>
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" href="#">Vehicle Owner</a>
            <a class="dropdown-item" href="#">Vehicle Type</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Drivers</a>
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" href="#">Drivers</a>
            <a class="dropdown-item" href="#">Drivers List</a>
            <a class="dropdown-item" href="#">Drivers Session List</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Settings</a>
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" href="#">General Settings</a>
            <a class="dropdown-item" href="#">Company Settings</a>
            <a class="dropdown-item" href="#">Communication Settings</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>